/ProjetoListaDeTarefas/nbproject/private/
/Aula6/nbproject/private/
/Aula 7 - 2019-10-29/Aula7/nbproject/private/
/Aula 7 - 2019-10-29/Aula7/build/
/Aula 7 - 2019-10-29/Aula7/dist/
/Aula 7 - 2019-10-29/WebApplication1/nbproject/private/
/ProjetoListaDeTarefas/build/
/Aula 7 - 2019-10-29/Recapitulacao/nbproject/private/
/Aula 7 - 2019-10-29/Revisao/nbproject/private/
/Aula 7 - 2019-10-29/Revisao/build/
/Aula 8 - 2019-10-31/Aula8/nbproject/private/
/Aula 8 - 2019-10-31/Aula8/build/
/Aula 8 - 2019-10-31/Aula8_Atividade1/nbproject/private/
/Aula 8 - 2019-10-31/Aula8_Atividade2/nbproject/private/
/Aula 8 - 2019-10-31/Aula8_Atividade3/nbproject/private/
/Aula 8 - 2019-10-31/Aula8_Atividade4/nbproject/private/
/Aula 8 - 2019-10-31/Aula8_Atividade5/nbproject/private/
/Aula 16 - 2019-11-28/JavaApplication15/nbproject/private/
/Aula 16 - 2019-11-28/CodigoAula16MySQL/nbproject/private/
/Aula 16 - 2019-11-28/CodigoAula16MySQL/build/
/Aula 16 - 2019-11-28/CodigoAula17/nbproject/private/
/Aula 16 - 2019-11-28/CadastroDeUsuariosBancoDeDados/nbproject/private/
/Aula 16 - 2019-11-28/CadastroDeUsuarios/build/
/Aula 16 - 2019-11-28/CadastroDeUsuarios/nbproject/private/
/Aula 18 - 2019-12-05/CadastroDeUsuarios/nbproject/private/
/Aula 18 - 2019-12-05/CadastroDeUsuarios/build/
/Aula 18 - 2019-12-05/CadastroDeUsuariosWeb/build/
/Aula 18 - 2019-12-05/CRUD_Usuarios_MySQL/nbproject/private/
/Aula 19 - 2019-12-10/CadastroDeUsuariosWeb/build/
/Aula 20 - 2019-12-12/CadastroDeUsuariosWeb/nbproject/private/
/Aula 20 - 2019-12-12/CadastroDeUsuariosWeb/build/
/Aula 21 - 2019-12-17/CodigoAula21/nbproject/private/
/Aula 21 - 2019-12-17/CodigoAula21/build/