/ProjetoListaDeTarefas/nbproject/private/
/Aula6/nbproject/private/
/Aula 7 - 2019-10-29/Aula7/nbproject/private/
/Aula 7 - 2019-10-29/Aula7/build/
/Aula 7 - 2019-10-29/Aula7/dist/
/Aula 7 - 2019-10-29/WebApplication1/nbproject/private/
/ProjetoListaDeTarefas/build/
/Aula 7 - 2019-10-29/Recapitulacao/nbproject/private/
/Aula 7 - 2019-10-29/Revisao/nbproject/private/
/Aula 7 - 2019-10-29/Revisao/build/