/ProjetoListaDeTarefas/nbproject/private/
/Aula6/nbproject/private/
/Aula 7 - 2019-10-29/Aula7/nbproject/private/
/Aula 7 - 2019-10-29/Aula7/build/
/Aula 7 - 2019-10-29/Aula7/dist/
/Aula 7 - 2019-10-29/WebApplication1/nbproject/private/
/ProjetoListaDeTarefas/build/
/Aula 7 - 2019-10-29/Recapitulacao/nbproject/private/
/Aula 7 - 2019-10-29/Revisao/nbproject/private/
/Aula 7 - 2019-10-29/Revisao/build/
/Aula 8 - 2019-10-31/Aula8/nbproject/private/
/Aula 8 - 2019-10-31/Aula8/build/
/Aula 8 - 2019-10-31/Aula8_Atividade1/nbproject/private/
/Aula 8 - 2019-10-31/Aula8_Atividade2/nbproject/private/
/Aula 8 - 2019-10-31/Aula8_Atividade3/nbproject/private/
/Aula 8 - 2019-10-31/Aula8_Atividade4/nbproject/private/
/Aula 8 - 2019-10-31/Aula8_Atividade5/nbproject/private/